 .f2f{
     display:none;
}
.f3f{
    display:none;
}
.f1f{
    display:none;
}
.f1f1{
    height:100px;
}

.f2f1{
    height:100px;
}
.f3f1{
    height:100px;
}
.f1f2{
    height:100px;
}

.f2f2{
    height:100px;
}
.f3f2{
    height:100px;
}
.f1f3{
    height:100px;
}

.f2f3{
    height:100px;
}
.f3f3{
    height:100px;
}

.des1{
    border:3px grey solid;
    width:175px;
    height:100px;
    display:none;
    background:lightgrey;
    padding:10px;
    border-radius:5%;
}
.des2{
    border:3px grey solid;
    width:175px;
    height:100px;
    display:none;
    background:lightgrey;
    padding:10px;
    border-radius:5%;
}
.des3{
    border:3px grey solid;
    width:175px;
    height:100px;
    display:none;
    background:lightgrey;
    padding:10px;
    border-radius:5%;
}